#
# Condor Security Config
#

#
# Force pool password authentication
# (shared secret between head and worker nodes)
#
# Note: The password file is not part of the image, and must be provided at runtime
#       To create one, use
#          condor_store_cred -f <filename>
#

SEC_PASSWORD_FILE = /var/lock/condor/pool_password

SEC_DAEMON_AUTHENTICATION = REQUIRED
SEC_DAEMON_INTEGRITY = REQUIRED
SEC_DAEMON_AUTHENTICATION_METHODS = PASSWORD
SEC_NEGOTIATOR_AUTHENTICATION = REQUIRED
SEC_NEGOTIATOR_INTEGRITY = REQUIRED
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = PASSWORD
SEC_CLIENT_AUTHENTICATION_METHODS = FS, PASSWORD

ALLOW_DAEMON = condor_pool@$(UID_DOMAIN)/*, \
               condor@$(UID_DOMAIN)/$(IP_ADDRESS)
ALLOW_NEGOTIATOR = condor_pool@$(UID_DOMAIN)/$(IP_ADDRESS)

